body {
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: max-content;
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: #FFFFCC
}

header {
color: #3a3a40;
}

.headerDiv {
padding: 10px 10px 10px 10px;
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
max-width: 1300px;
}

.logo {
display: inline-block;
height: 180px;
width: 180px;
vertical-align: middle;
}

.orgName {
font-weight: bold;
margin: 0px 0px 0px 20px;
font-size: 20pt;
display: inline-block;
vertical-align: middle;
}

nav {
vertical-align: middle;
}

.menu li {
font-weight: bold;
line-height: 37px;
padding: 0px 5px 0px 5px;
display: inline-block;
}

.menu li:hover {
background-color: #000066;
color: #fff;
border-radius: 5px;
}

#selected {
border-bottom: 2px solid;
}

.menuA {
text-decoration: none;
color: #403a3a;
padding: 10px 5px 10px 5px;
}

.menuA:hover {
color: #fff;
}
.teacherinfo{
margin-left: 110px;
margin-right: 110px;
}
.table{
   text-align: center;
}
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

 tr:nth-child(even) {
  background-color: #009999;
}
 tr:nth-child(odd) {
 background-color: #006666;
}
 th {
  background-color: #663300;
  color: Red;
}
footer {

color: whitesmoke;
background-color: #FFFF33;
margin-left: 110;
margin-right: 110;
}

#footerDiv {
padding: 10px 0px 10px 10px;
background-size: cover;
margin-left: auto;
max-width: 1300px;
margin-right: auto;
}



.footerTitle {
margin-top: 5px;
margin-bottom: 5px;
color: #00FF00;
}

.footerText {
margin-top: 5px;
margin-bottom: 5px;
color: #b3abab;
}
