body {
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: max-content;
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: #FFFFCC
}

header {
color: #403a3a;
}

.headerDiv {
padding: 10px 10px 10px 10px;
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
max-width: 1300px;
}

.logo {
display: inline-block;
height: 80px;
width: 80px;
vertical-align: middle;
}

.orgName {
font-weight: bold;
margin: 0px 0px 0px 20px;
font-size: 20pt;
display: inline-block;
vertical-align: middle;
}

nav {
vertical-align: middle;
}

.menu li {
font-weight: bold;
line-height: 37px;
padding: 0px 5px 0px 5px;
display: inline-block;
}

.menu li:hover {
background-color: #403a3a;
color: #fff;
border-radius: 5px;
}

#selected {
border-bottom: 2px solid;
}

.menuA {
text-decoration: none;
color: #403a3a;
padding: 10px 5px 10px 5px;
}

.menuA:hover {
color: #fff;
}

table, th, td {
 
  border: 1px solid black;
 
}
table.teacherinfo{
margin-left=auto;
margin-right=auto;

}

th, td {
  padding: 10px;
}

 tr:nth-child(even) {
  background-color: #996633;
}
 tr:nth-child(odd) {
 background-color: #CC9900;
}
 th {
  background-color: #663300;
  color: Red;
