body {
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: max-content;
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: #99FFFF
}
header {
color: #3a3a40;
}
.headerDiv {
padding: 10px 10px 10px 10px;
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
max-width: 1300px;
}
.logo {
display: inline-block;
height: 180px;
width: 180px;
vertical-align: middle;
}
.orgName {
font-weight: bolder;
margin: 10px 10px 10px 10px;
font-size: 25pt;
display: inline-block;
vertical-align: middle;
}
nav {
vertical-align: middle;
}
.menu li {
font-weight: bold;
line-height: 37px;
padding: 0px 5px 0px 5px;
display: inline-block;
}
.menu li:hover {
background-color: #000066;
color: #fff;
border-radius: 5px;
}
 
#selected {
border-bottom: 2px solid;
}
.menuA {
text-decoration: none;
color: #403a3a;
padding: 10px 5px 10px 5px;
}
.menuA:hover {
color: #fff;
}

.leftImage {
width: 300px;
float: left;
margin-right: 30px;
}
.rightImage {
width: 300px;
float: right;
margin-left: 30px;
}
.rightDiv {
overflow: hidden;
background: #66FF66;
color: #333333;
margin-top: 20px;
padding: 0px 0px 0px 10px;
margin-bottom: 10px;
}
.leftDiv {
overflow: hidden;
background: #66FF66;
color: #333333;
margin-top: 20px;
padding: 0px 10px 0px 0px;

}
.centerDiv {
max-width: 1300px;
margin-right: auto;
padding: 0px 10px 0px 10px;
margin-left: auto;

}
.standardInfo {
padding: 0px 20px 0px 20px;
text-align: justify;
}
.getQuote {
text-align: center;
background-color: #00FF00;
padding: 5px;
color: #333333;
margin-left: 120px
margin-right: 120px
}

input {
background-color: #CCFFCC;
border-radius: 20px;
text-align: center;
padding: 5px 10px 5px 10px;
margin: 10px;
font-size: 12pt;
outline: none;
width: 300px;
color: #333333;
border: 2px solid whitesmoke;
}

textarea {
background-color: #CCFFCC;
border-radius: 20px;
padding: 5px 10px 5px 10px;
outline: none;
margin: 10px;
text-align: center;
font-size: 12pt;
width: 625px;
color: whitesmoke;
border: 2px solid whitesmoke;
}

#nameDiv {
display: inline-block;

}

#numberDiv {
display: inline-block;
}

.formButton {
width: 100px;
background-color: #CCFFCC
}

footer {
color: whitesmoke;
background-color: #CCFFCC;
margin-left: 120px;
margin-right: 120px;
}


#footerDiv {
padding: 10px 0px 10px 10px;
background-size: cover;
margin-left: auto;
max-width: 1300px;
margin-right: auto;
}




.footerTitle {
margin-top: 5px;
margin-bottom: 5px;
color: #00FF00;
}

.footerText {
margin-top: 5px;
margin-bottom: 5px;
color: #b3abab;
}